  .radio-block__label {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    border: 2px solid $border-color;
    height: 52px;
    font-size: 17px;
    font-weight: bold;
    line-height: 45px;
  }

  .radio-block__input {
    display: none;
  }

  .radio-block__input:checked + .radio-block__label {
    border: 2px solid $item-color-light;
  }

  .radio-block__input + .radio-block__label:hover {
    border: 2px solid $hover-border-color;
  }

  @media #{$mobile-min} and #{$mobile-max} {

    .radio-block__label {
      width: 82px;
    }
  }

  @media #{$tablet-min} {

    .radio-block__label {
      width: 112px;
    }
  }
